<!doctype html>
<html>
    
<%- include('header'); -%>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fas fa-sticky-note"></span> My Keeper</h1>

            <p>Signin or Signup</p>

            <a href="/signin" class="btn btn-default">
                <span class="fa fa-user"></span> Sign In</a>
            <a href="/signup" class="btn btn-default">
                <span class="fa fa-user"></span> Sign Up</a>
        </div>

    </div>
</body>

</html>